nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 3;
    font-family: 'Montserrat', sans-serif;
  }
  
  nav .logo{
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: left;
  }
  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right;
  }
  
  nav li{
      display: inline-block;
      padding: 2em;
      text-align: center;
      transition: all .2s;
  }
  
  nav li:last-child {
    padding-right: 4em;
    margin-right:0
  }
  
  nav a{
    color: rgba(230,154,35,1);
    transition: all .3s;
    font-size:0.9rem;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:0.15rem;
    word-spacing:0.3rem
  }
  
  nav a:hover {
    color: #DDD;
  }
  
  
  /*el id */
  #nav-bg {
    background: #222;
    position: fixed;
    height: 5em;
    width: 100%;
    top: 0;
    z-index: 1;
  }

  /*banner*/
header {
  position: relative;
  background-image: url("/images/imagen2.jpg");
  background-position: bottom;
  background-size: cover;
  padding:15em 0 8em;
  z-index: 2;
  max-width: 100%;
  height:90vh;
}

 header h1 {
    font-size: 3.5em;
    text-transform: uppercase;
    text-align: center;
    color:#FFF;
    margin:0;
   
}

header p{
  font-size:1.3rem;
  color:#FFF492;
  line-height:1.5;
}

header button{
  margin: 3% auto;
  border: #FFC53D;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
  padding: 5px 10px;
}
